:root{
  --cyanobacteria_teal: #009688;
  --rainier_cherry_red: #d2232a;
  --freshwater_blue: #037ac0;
  --microbe_orange: #f78e1e;
  --lupine_purple: #66489d;
  --spring_green: #c1cd23;
  --graphite_grey: #9d9389;
  --frost_blue: #c7dbee;
  --golden_yellow: #ffd200;
  --ocean_blue: #72ccd2;
  --grass_green: #5e9732;
  --app-height: 60vh;
  --app-width: 90vh;
}

div.kb-html-report .flow-h {
  display: flex;
  justify-content: space-around;
}

div.kb-html-report .flow-h.wide {
  justify-content: flex-start;
}

span.message {
  background-color: #fff;
  border-radius: 8px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.5em;
  padding: 8px;
  width: 30em;
}

span.message.loading {
  align-items: center;
  flex-direction: row;
  width: auto;
}

span.message i {
  margin: 8px;
}

span.message button {
  border-radius: 8px;
  margin-top: 8px;
}

ul._tippy {
  list-style-type: none;
  padding-inline-start: 0;
}

ul._tippy input {
  display: none;
}

ul._tippy input[type=checkbox]:checked + label span.main {
  display: none;
}

ul._tippy input[type=checkbox]:checked + label span.alt {
  display: inherit;
}

ul._tippy input[type=checkbox] + label span.alt {
  display: none;
}

#cy {
  border: 1px solid #000;
  border-radius: 4px;
  display: block;
  height: var(--app-height);
  width: var(--app-width);
}

#extra {
  display: flex;
  flex-direction: column;
  height: var(--app-height);
  justify-content: flex-end;
  max-width: 20em;
}

#footnotes {
  display: block;
  font-size: .8em;
  padding-left: 1em;
  padding-right: 1em;
}

#legend {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0px auto;
  padding: 1em;
}

#legend::before {
  content: "Legend";
  display: block;
  font-size: 150%;
  font-weight: bold;
  padding-bottom: .5em;
  text-align: center;
  width: 100%;
}

#legend input[type=checkbox] {
  display: none;
}

#legend input.visibility[type=checkbox] + label::after {
  background: #fff;
  border-radius: .5em;
  color: #000;
  content: "\f06e";
  font-family: FontAwesome;
  padding: .25em;
}

#legend input[type=checkbox].visibility:checked + label::after {
  content: "\f070";
}

#legend label {
  margin-bottom: 0;
  padding: 1em;
}

#legend label:first-child {
  margin: 0px auto;
}

#legend li {
  display: flex;
  justify-content: space-between;
}

#messages {
  align-items: center;
  background-color:#88888888;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
}

#messages.hidden {
  display: none;
}

#node-data {
  height: 0; /* cell content bug fix */
  margin-top: 1em;
  padding: 1em;
  width: 100%;
}

#node-data div.data, #node-data .data label {
  height: auto;
  width: auto;
}

#node-data .data label span {
}

#node-data .data input[type=checkbox]:checked + label span.main {
  display: none;
}

#node-data .data input[type=checkbox]:checked + label span.alt {
  display: inherit;
}

#node-data .data input[type=checkbox] + label span.alt {
  display: none;
}

#node-data td.rank, #node-data td.seed {
  min-width: 80px;
  max-width: 80px;
}

#node-data span.rank, #node-data span.seed {
  display: flex;
  justify-content: space-around;
}

#node-data div {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#node-data div.ui ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
}

#node-data input[type=checkbox] {
  display: none;
}

#node-data input[type=checkbox].control + label::before {
  font: normal normal normal 36px/1 FontAwesome;
  content: "\f204"
}

#node-data input[type=checkbox].control:checked + label::before {
  content: "\f205";
}

#node-data label {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
  width: 100%;
}

#node-data li {
  display: inline;
}

#node-data li span:after {
  content: ",\A0";
}

#node-data li:last-child:after, #node-data li:nth-last-child(2):after {
  content: "";
}

#node-data li:last-child span:before {
  content: "\A0 and\A0";
}

#node-data li:first-child span:before, #node-data li:last-child span:after {
  content: "";
}

#node-data td {
  border-left: 1px solid #000;
  height: 100%;
  max-width: 200px;
  min-width: 150px;
  padding: .5em;
}

#node-data td:first-child, #node-data th:first-child {
  border-left: none;
  padding-left: 1em;
}

#node-data td:last-child, #node-data th:last-child {
  padding-right: 1em;
}

#node-data th {
  background-color: #def;
  border-bottom: 2px solid #000;
  border-left: 1px solid #000;
  height: 100%;
  padding: .5em;
}

#node-data th span {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#node-data tr {
  height: 100%;
  padding: 1em;
}

#node-data tr:first-child th:first-child {
  border-top-left-radius: 4px;
}

#node-data tr:first-child th:last-child {
  border-top-right-radius: 4px;
}

#node-data tr:nth-child(odd) {
  background: #def;
}

#node-data tr:nth-child(even) {
  background: #fff;
}

#node-data tr.highlight {
  background-color: #a0ccf0;
}

#node-data ul {
  padding-inline-start: 0;
}

#node-data .ui {
  padding: 0;
}

#state-save {
  background: #c6dbeedd;
  border-bottom: 3px solid #000;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding-left: 12%;
  padding-right: 12%;
  position: fixed;
  width: 100%;
  z-index: 4;
}

#state-save form {
  align-items: center;
  display: flex;
  justify-content: space-around;
  max-width: 76%;
}

#state-save form select, #state-save form input {
  font-size: 200%;
  max-width: 33%;
  min-width: 200px;
}

#state-save button {
  background: var(--frost_blue);
  border-radius: 8px;
  font-size: 200%;
  padding: 4px;
  transition: all .1s ease-in;
}

#state-save button[disabled] {
  opacity: .5;
  transition: all .1s ease-in;
}

#state-save #go-top {
  background: var(--frost_blue);
  border-color: #000;
  border-style: none dashed;
  border-width: 1px;
  color: #000;
  font-size: 200%;
  padding: 0 1em;
}

.blur {
  filter: blur(5px);
}

.cyanobacteria_teal {
  background-color: var(--cyanobacteria_teal);
  color: #ffffff;
}

.frost_blue {
  background-color: var(--frost_blue);
  color: #000000;
}

.freshwater_blue {
  background-color: var(--freshwater_blue);
  color: #ffffff;
}

.golden_yellow {
  background-color: var(--golden_yellow);
  color: #000000;
}

.graphite_grey {
  background-color: var(--graphite_grey);
  color: #000000;
}

.grass_green {
  background-color: var(--grass_green);
  color: #ffffff;
}

.lupine_purple {
  background-color: var(--lupine_purple);
  color: #ffffff;
}

.microbe_orange {
  background-color: var(--microbe_orange);
  color: #000000;
}

.ocean_blue {
  background-color: var(--ocean_blue);
  color: #000000;
}

.rainier_cherry_red {
  background-color: var(--rainier_cherry_red);
  color: #ffffff;
}

.spring_green {
  background-color: var(--spring_green);
  color: #000000;
}

.tippy-popper {
  transition: none;
}
